* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    border: none;
 /*   font-size: 1.5625vw;*/
    font-family: Microsoft Yahei;
}
html,body{
    height: 100%;
    overflow:hidden;
}

/* page bg*/
.wrap{
    position:absolute;
    background: url("../img/bg1.png") no-repeat center center;
    background-size: 100% 100%;
    width:100%;
    height: 100%;
    z-index: 0;
}
.gameScene{
    position: relative;
    z-index: -8;
    width: 78%;
   /* height: 1121px;*/
    top: 2vh;
    left:0;
    height: 85%;


}
.gameScene img{
   width:100%;
    height: 100%;
    z-index: 0;
}
.local  {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*body {
    width: 100%;
    height: 100%;
}*/

/*.wrap {
    position: relative;
    width: 375px;
    height: 450px;
    margin: 10px auto;
    text-align: center;
}

.local .title {
    color: #CD1076;
}

.local {
    float: left;
}*/

 .game {
     position: absolute;
     width: 81%;
     height: 89%;
     /* background-color: #f2faff; */
     border: 1px solid;
 /*    border-top: none;*/
     left: -6%;
     right: 0;
     top: -2%;
     bottom: 0;
     margin: auto;
     /*   background-color: #f2faff;*/
     /*   border: 1px solid blue;*/
     border-top: none;
     z-index: -1;

     background: url("../img/a/bcg.png") no-repeat center center;
     background-size: 100% 100%;
}

.next {
    position: absolute;
    /*left: 24.8%;*/
    left: 97%;
    top: 13%;
    width: 20%;
    margin-left: 3%;

    text-align: center;



    height: 10%;


  /*  position: absolute;
    left: 30.8%;
    top: 0.9%;
    width: 20%;
    height: 10%;*/

   /* height: 80px;*/
  /*  background-color: #f2faff;*/
   /* border: 1px solid blue;*/
}
.next img{
    width: 170%;
    height: 170%;
    margin: -30% -35%;
}
.ranking{
    position: absolute;
    width: 26%;
    top: 26%;
    right: 0%;
    z-index: 999;
    height: 29%;

    background: url("../img/a/ranking.png") no-repeat center center;
    background-size: 100% 100%;

   /* text-align: center;*/
}

.ranking ul{
    list-style-type: none;
    height: 80%;
    width: 90%;
   /* margin: 26% auto;*/
   /* text-align: center;*/
    margin-top: 26%;
    margin-left: auto;
    margin-right: auto;
}

.ranking ul li{
 /*   position: absolute;*/
  /*  width: 90%;
    height: 25%;*/
    background: url("../img/a/a.png") no-repeat center center;
    background-size: 100% 100%;
    height: 25%;
    width: 100%;
}
#img1,#img4,#img7,#img10{
    height: 80%;
   /* margin-top: -30%;*/
   /* display: inline-block;*/
}

/*#scoreMe{
    width: 40%;
    margin-left: 37%;
    font-size: 5.1vw;
}*/

#score,#score1,#score2,#scoreMe{
    font-size: 3.0vw;
    margin-left: 10%;
    width: 36%;
    position: absolute;
    margin-top: -1px;
}
/*#img23{
    margin-top: -12%;
    text-align: center;
    margin-bottom: 0;

    position: absolute;

    width: 100%;
    height: 18%;

}*/
#img2,#img5,#img8,#img11{
    position: absolute;
    clear: left;
    width: 17%;
    margin-left: 30%;
    margin-top: 16%;
}

#img3,#img6,#img9,#img12{
    position: absolute;
    width: 17%;
    margin-top: 16%;
    margin-left: 6%;
}



#canvas1{
    position:absolute;
    width:100%;
    height: 100%;
   /* z-index: 99;*/

}

.info {
   /* position: absolute;
    right: 3%;
    top: 5%;
    width: 10%;
    !* width: 90px; *!
    text-align: center;
    font-size: 20px;*/
 /*   position: absolute;*/
    margin-top: -69%;
    font-size: 5.1vw;
}
.none,
/*.none99,*/
/*.current,*/
.current1,
.current2,
.current3,
.dj8,
.dj9,
.dj1,.dj2,.dj3,.dj4, .dj5,.dj6,.done,
.dj7{
    position: absolute;
   /* width: 20px;
    height: 20px;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.none {
   /*  background-color: #f2faff;*/
  /*  background: url("../img/sprite.png") no-repeat center center;
    background-size: 100% 100%;*/
 }


.current {
   /* background-color: #FF7569;
    border: 1px solid #1F1F1F;*/
    background: url("../img/sprite2.png") no-repeat center center;
    background-size: 100% 100%;
}
.current1 {
    /* background-color: #FF7569;
     border: 1px solid #1F1F1F;*/
    background: url("../img/sprite1.png") no-repeat center center;
    background-size: 100% 100%;
}
.current3 {
    /* background-color: #FF7569;
     border: 1px solid #1F1F1F;*/
    background: url("../img/sprite3.png") no-repeat center center;
    background-size: 100% 100%;
}
.current2{
    background: url("../img/sprite4.png") no-repeat center center;
    background-size: 100% 100%;
}

.done {
  /*  background-color: #969696;
    border: 1px solid #1F1F1F;*/
    background: url("../img/a/sprite17.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj9{
    background: url("../img/a/dj9.png") no-repeat center center;
    background-size: 100% 100%;
}

.dj8{
    background: url("../img/a/dj8.png") no-repeat center center;
    background-size: 100% 100%;
}

.dj1{
    background: url("../img/a/dj1.png") no-repeat center center;
    background-size: 100% 100%;
}

.dj2{
    background: url("../img/a/dj2.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj3{
    background: url("../img/a/dj3.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj4{
    background: url("../img/a/dj4.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj5{
    background: url("../img/a/dj5.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj6{
    background: url("../img/a/dj6.png") no-repeat center center;
    background-size: 100% 100%;
}
.dj7{
    background: url("../img/a/dj7.png") no-repeat center center;
    background-size: 100% 100%;
}

#local_gameover {
    color: red;
}

.tips {
    text-align: center;
    width: 100%;
}

/*按钮*/
.bottom_btn{
    position: absolute;
    width: 100%;
    /* top: 1%;*/
    margin-top: 3%;
    bottom: 0.4%;
    text-align: center;
    z-index: 99;
}

.bottom_btn ul{
    width: 100%;
    list-style-type:none;
}
.bottom_btn ul li{
    width: 17%;
    height: auto;
    text-align: center;
    /*   display: inline-block;*/     /*换成下面的*/
    float: left;
    margin: 0 3.9%;
}
.bottom_btn ul li img{
    width: 100%;
}


.headImage{
    position: absolute;
    width: 22%;
}
.headImage img{
    width: 100%;
}
.stage_btn{
    position: absolute;
    width: 18%;
    height: 24%;
    top: 56%;
    right: 3.2%;
    z-index: 999;
    text-align: center;
}

.stage_btn li{
    list-style-type: none;
    width: 100%;
    height: 50%;
    text-align: center;
}
.stage_btn li:first-child{
    margin-bottom: 8px;
}

.stage_btn li img{
    width: 100%;
}


#stage2_num{
    position: absolute;
    right: 6%;
   /* font-size: 13px;*/
    font-size: 3.4vw;
    margin-top: 10%;
}
.time{
    position: absolute;
    width: 20%;
    right: 0;
    text-align: center;
}
.time img{
    width: 100%;
}


.gameSceneCss{

    /*  position: relative;
      !* z-index: -8;*!
      width: 78%;
      !* height: 1121px;*!

      top: 2vh;
      left:3vw;
      height: 85%;*/
    -webkit-animation-name: buzz-out;

    -webkit-animation-duration: 0.2s;

    -webkit-animation-timing-function: linear;

    -webkit-animation-iteration-count: 1;

}



@-webkit-keyframes buzz-out {

    25% {

        -webkit-transform: translateY(20px);
    }

    50%, 100% {-webkit-transform: translateY(0);}

    75% {-webkit-transform: translateY(10px);}
}


