<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.els.mapper.GamehomeMapper">
	<resultMap id="BaseResultMap" type="com.els.bean.Gamehome">
		<id column="hid" property="hid" jdbcType="INTEGER" />
		<result column="hname" property="hname" jdbcType="VARCHAR" />
		<result column="person_num" property="personNum" jdbcType="INTEGER" />
		<result column="home_status" property="homeStatus" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		hid, hname, person_num, home_status, create_date
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.els.bean.GamehomeExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from gamehome
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from gamehome
		where hid = #{hid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from gamehome
		where hid = #{hid,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.els.bean.GamehomeExample">
		delete from gamehome
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.els.bean.Gamehome">
		insert into gamehome (hid, hname, person_num,
		home_status, create_date)
		values (#{hid,jdbcType=INTEGER}, #{hname,jdbcType=VARCHAR},
		#{personNum,jdbcType=INTEGER},
		#{homeStatus,jdbcType=INTEGER}, #{createDate,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.els.bean.Gamehome">
		insert into gamehome
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="hid != null">
				hid,
			</if>
			<if test="hname != null">
				hname,
			</if>
			<if test="personNum != null">
				person_num,
			</if>
			<if test="homeStatus != null">
				home_status,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="hid != null">
				#{hid,jdbcType=INTEGER},
			</if>
			<if test="hname != null">
				#{hname,jdbcType=VARCHAR},
			</if>
			<if test="personNum != null">
				#{personNum,jdbcType=INTEGER},
			</if>
			<if test="homeStatus != null">
				#{homeStatus,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.els.bean.GamehomeExample"
		resultType="java.lang.Integer">
		select count(*) from gamehome
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update gamehome
		<set>
			<if test="record.hid != null">
				hid = #{record.hid,jdbcType=INTEGER},
			</if>
			<if test="record.hname != null">
				hname = #{record.hname,jdbcType=VARCHAR},
			</if>
			<if test="record.personNum != null">
				person_num = #{record.personNum,jdbcType=INTEGER},
			</if>
			<if test="record.homeStatus != null">
				home_status = #{record.homeStatus,jdbcType=INTEGER},
			</if>
			<if test="record.createDate != null">
				create_date = #{record.createDate,jdbcType=DATE},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update gamehome
		set hid = #{record.hid,jdbcType=INTEGER},
		hname = #{record.hname,jdbcType=VARCHAR},
		person_num = #{record.personNum,jdbcType=INTEGER},
		home_status = #{record.homeStatus,jdbcType=INTEGER},
		create_date = #{record.createDate,jdbcType=DATE}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.els.bean.Gamehome">
		update gamehome
		<set>
			<if test="hname != null">
				hname = #{hname,jdbcType=VARCHAR},
			</if>
			<if test="personNum != null">
				person_num = #{personNum,jdbcType=INTEGER},
			</if>
			<if test="homeStatus != null">
				home_status = #{homeStatus,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=DATE},
			</if>
		</set>
		where hid = #{hid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.els.bean.Gamehome">
		update gamehome
		set hname = #{hname,jdbcType=VARCHAR},
		person_num = #{personNum,jdbcType=INTEGER},
		home_status = #{homeStatus,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=DATE}
		where hid = #{hid,jdbcType=INTEGER}
	</update>

	<select id="selectLastId" resultType="java.lang.Integer">
		SELECT hid FROM gamehome ORDER BY hid DESC LIMIT 1

	</select>
</mapper>